<div class="sidebar w3-sidebar">
    <div style="background-color: white;text-align: center;">
        <img src="images/shopdesk-logo.png" alt="SHOPDESK" width="60%" height="auto">
    </div>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a href="{{../staff/ViewOrderStatus.jsp}}" class="nav-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="../staff/ViewOrderStatus.jsp" class="nav-link">
                Admins
            </a>
        </li>
        <li class="nav-item">
            <a href="ViewSalesRecords.jsp" class="nav-link">
                Shops
            </a>
        </li>
        <li class="nav-item">
            <a href="../staff/AllProduct_Backend.jsp" class="nav-link">
                Events
            </a>
        </li>
        <li class="nav-item">
            <a href="../AdminShowRatingComment" class="nav-link">
                Voucher
            </a>
        </li>
        <li class="nav-item">
            <a href="../staff/ViewCustomerRecords.jsp" class="nav-link">
                FAQ
            </a>
        </li>
        <li class="nav-item">
            <a href="../GetStaffDetails" class="nav-link">
                Advertisements
            </a>
        </li>

        <li class="nav-item">
            <a href="../GetStaffDetails" class="nav-link">
                Profile
            </a>
        </li>

    </ul>
</div>